<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login/main.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_projet.png') }}">
  <title>VoeuxSup</title>
</head>

<body>
  <div class="container">
    <div class="nav">
      <ul>
        <li>
          <div style="display: flex; align-items: center;">
            <img width="60px" height="60px" src="{{ url_for('static', filename='img/logo_jp2.png') }}" style="margin-right: 10px;">
            <h3 style="color: black;">Jean-Paul II</h3>
          </div>
        </li>
      </ul>
    </div>
    <div class="hero">
      <div class="text">
        <p class="gray">Site tiers, ne communiquant pas à Parcoursup</p>
        <h1>Pré-sélection des vœux<span class="blue">.</span></h1>
        <p class="gray">
          Identifiant oublié ? <a class="blue" href="/lost_id"><span class="blue">Faire une demande</span></a>
        </p>
      </div>
      <div class="form">
        <form id="login-form" class="centered-flex" action="/login" method="post">
          <!-- Zone du champ identifiant -->
          <div id="identifiant-container" class="id" onclick="document.getElementById('identifiant').focus();">
            <div class="input-icons">
              <legend for="identifiant">Identifiant</legend>
              <div class="icon-center">
                <input class="input" type="text" id="identifiant" name="identifiant" placeholder="Identifiant" required>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-person-lines-fill" style="color: black" viewBox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                </svg>
              </div>
            </div>
          </div>

          <!-- Champ caché pour recup la valeur de l'identifiant meme sans que l'user le rentrer une deuxieme fois -->
          <input type="hidden" name="identifiant_hidden" id="identifiant-hidden">

          <!-- Champ Mot de passe (caché par défaut) -->
          <div id="password-container" style="display: none;">
            <div class="input-icons">
              <legend for="password">Mot de passe</legend>
              <div class="icon-center">
                <input class="input" type="password" id="password" name="mdp" placeholder="Mot de passe">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-lock-fill" viewBox="0 0 16 16">
                  <path d="M8 1a3 3 0 0 0-3 3v3H3a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1h-2V4a3 3 0 0 0-3-3z"/>
                </svg>
              </div>
            </div>
          </div>

          <div class="buttons">
            <button type="submit" class="btn blue-btn">Se Connecter</button>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      JP2
    </div>
  </div>

  <!-- Inclusion du fichier JavaScript externe -->
  <script src="static/js/login/login.js"></script>
</body>

</html>
