<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord Administratif Réactif</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/style.css') }}">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <img class="logo" width="60px" height="60px" src="{{ url_for('static', filename='img/logo_jp2.png') }}" style="margin-right: 10px;">
                        </span>
                        <span class="title">Vœux Jean-Paul II</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Tableau de Bord</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Élèves</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Messages</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Aide</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Paramètres</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Mot de Passe</span>
                    </a>
                </li>

                <li>
                    <a href="/logout">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Déconnexion</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Principal ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Rechercher ici">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <span>Admin</span>
                </div>
            </div>

            <!-- ======================= Cartes ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">54</div>
                        <div class="cardName">Élèves Connéctés</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="people-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">80</div>
                        <div class="cardName">Élèves ayant validé leurs vœux</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="checkmark-done-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">12</div>
                        <div class="cardName">Vos Messages / Demandes</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>

                <div class="card" id="siteStatusCard">
                    <div>
                        <div class="numbers" id="siteStatus" style="color: green;">Ouvert</div>
                        <div class="cardName">État du site pour les élèves</div>
                    </div>
                
                    <div class="iconBx">
                        <ion-icon name="globe-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Liste des Vœux des Élèves ================= -->
            <div class="details">
                <div class="recentOrders" id="recentOrdersContainer">
                    <div class="cardHeader">
                        <h2>Vœux des Élèves</h2>
                        <a href="#" class="btn" id="modifyBtn">Modifier</a>
                    </div>
                    <p id="editModeMessage" style="display: none; color: red;">Vous êtes en mode édition. Vous pouvez modifier l'ordre des vœux.</p>
                    <table>
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Nom de l'établissement</td>
                                <td>Ville</td>
                                <td>Type de Voie</td>
                                <td>Spécialité</td>
                            </tr>
                        </thead>
                        <tbody id="sortable">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="{{ url_for('static', filename='js/dashboard/main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>