<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/high_admin_panel/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/high_admin_panel/lineicons.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/high_admin_panel/materialdesignicons.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/high_admin_panel/fullcalendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_projet.png') }}"/>
    <title>WhatsUpp</title>
</head>

<body>
  <div class="container">
    <div class="nav">
        <ul>
            <li><div><img width="25px" height="25px" src="{{ url_for('static', filename='img/logo_projet.png') }}"/> WhatsUpp<span class="blue">.</span></div></li>
            <a href="/about_us"><li class="gray">A propos</li></a>
            
        </ul>
    </div>
    <div class="hero">
        <div class="text">
            <p class="gray">Créer un compte gratuitement</p>
            <h1>Simplifiez vos conversations<span class="blue">.</span></h1>
            <p class="gray">Déjà membre ? <a class="blue" href="/login"><span class="blue">Connectez-vous</span></a></p>
        </div>
        <div class="form">
          <form id="login-form" class="centered-flex" action="/register" method="post">
            <div class="name">
              <div class="input-icons">
                  <legend for="first">Prénom</legend>
                  <div class="icon-center">
                      <input class="input" type="text" id="first_name" name="first_name" placeholder="Prénom">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                          <path
                              d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                      </svg>
                  </div>
              </div>
              <div class="input-icons">
                  <legend for="last">Nom</legend>
                  <div class="icon-center">
                      <input class="input" type="text" name="last_name" id="last_name" placeholder="Nom">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                          <path
                              d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                      </svg>
                  </div>
              </div>
          </div>

          <div classf="id">
            <div class="input-icons">
              <legend for="email">Email</legend>
              <div class="icon-center">
                  <input class="input" type="email" id="email" name="email" placeholder="Email">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-envelope-fill" viewBox="0 0 16 16">
                      <path
                          d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                  </svg>
              </div>
            </div>
            <div class="input-icons">
                <legend for="email">Nom d'utilisateur</legend>
                <div class="icon-center">
                    <input class="input" type="text" id="username" name="username" placeholder="Nom d'utilisateur">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                            <path
                                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                    </svg>
                </div>
            </div>
            <div class="input-icons">
                <legend for="password">Mot de passe</legend>
                <div class="icon-center">
                    <input class="input" type="password" id="password" name="password" placeholder="Mot de passe">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                        <path
                            d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                    </svg>
                </div>
            </div>
            <div class="input-icons">
              <legend for="password">Confirmer le mot de passe</legend>
              <div class="icon-center">
                  <input class="input" type="password" id="password-confirm" name="password-confirm" placeholder="Confirmer le mot de passe">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                      <path
                          d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                  </svg>
              </div>
          </div>
          </div>

          <div class="buttons">
              <button type="submit" class="btn blue-btn" type="submit">Se Connecter</button>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
        NSI
  </div>
  <script src="{{ url_for('static', filename='css/login/login.js') }}"></script>
</body>

</html>


